# {{ ansible_managed }}
PROXY_ENABLED="{{ suse_sysconfig_proxy.proxy_enabled }}"
HTTP_PROXY="{{ suse_sysconfig_proxy.http_proxy }}"
HTTPS_PROXY="{{ suse_sysconfig_proxy.https_proxy }}"
FTP_PROXY="{{ suse_sysconfig_proxy.ftp_proxy }}"
GOPHER_PROXY="{{ suse_sysconfig_proxy.gopher_proxy }}"
NO_PROXY="{{ suse_sysconfig_proxy.no_proxy }}"
