# !!! This file managed by Ansible. Any local changes may be overwritten. !!!

# Database administrative login by UNIX sockets
# note: you may wish to restrict this further later
local   all         postgres                                peer

# TYPE  DATABASE    USER        CIDR-ADDRESS          METHOD
local   all         all                               scram-sha-256
{% if postgres_use_ssl|default(False)|bool %}
hostssl all         all         {{ postgres_allowed_ipv4 }} scram-sha-256
hostssl all         all         {{ postgres_allowed_ipv6 }} scram-sha-256
{% else %}
host    all         all         {{ postgres_allowed_ipv4 }} scram-sha-256
host    all         all         {{ postgres_allowed_ipv6 }} scram-sha-256
{% endif %}
