# Ansible Tower redis settings.
# TODO: Remove CLUSTER_HOST_ID in favor of storing the host routable name in the database
# usage of cluster_host is a stop gap.

CLUSTER_HOST_ID = '{{ awx_install_cluster_host }}'
