INSIGHTS_URL_BASE = 'https://cloud.redhat.com'
INSIGHTS_AGENT_MIME = 'application/vnd.redhat.tower.analytics+tgz'
AUTOMATION_ANALYTICS_URL = '{{ automation_analytics_url }}'
REDHAT_CANDLEPIN_HOST = 'https://subscription.rhsm.redhat.com'
REDHAT_CANDLEPIN_VERIFY = '/etc/rhsm/ca/redhat-uep.pem'
