#!/bin/sh

download_files() {
        cd /tmp
        for file in $1; do
                curl -LO $file 1>/dev/null
        done
}

import_errata() {
        SPACEWALK_USER='{{ uyuni_org_login }}' SPACEWALK_PASS='{{ uyuni_org_password }}' {{ uyuni_cefs_path }}/errata-import.pl --server localhost $1 --publish
}

if [ -z "$1" ]; then
        echo "Missing parameter: [cefs|defs]"
        echo ""
        echo "USAGE: ./errata-import.sh [cefs|defs]"
else
        cd /tmp

        if [ "$1" == "cefs" ]; then
                # CentOS errata

                # get errata file and checksums
                download_files "http://cefs.steve-meier.de/errata.latest.xml http://cefs.steve-meier.de/errata.latest.md5 http://www.redhat.com/security/data/oval/com.redhat.rhsa-all.xml.bz2"
                bunzip2 -qf /tmp/com.redhat.rhsa-all.xml.bz2 1>/dev/null

                # verify integrity
                md5sum --ignore-missing -c errata.latest.md5 1>/dev/null
                if [ "$?" == 0 ]; then
                        # import errata
                        import_errata "--errata errata.latest.xml --rhsa-oval=/tmp/com.redhat.rhsa-all.xml"
                        if [ "$?" != 0 ]; then
                                echo "ERROR: failed to import errata, see output or server logs."
                                exit 1
                        fi
                else
                        #errata information possibly invalid
                        echo "ERROR: md5 checksum mismatch, check download!"
                        exit 1
                fi
        elif [ "$1" == "defs" ]; then
                # Debian errata

                # get errata file
                download_files "http://oserrata.atix.de/debian/xml_export/latest"

                # import errata
                import_errata "--errata latest --rhsa-oval=/tmp/com.redhat.rhsa-all.xml"
        fi
fi