export MANAGER_FORCE_INSTALL='0'
export ACTIVATE_SLP='n'
export MANAGER_ADMIN_EMAIL='{{ uyuni_mail }}'
export MANAGER_ENABLE_TFTP='y'
export MANAGER_IP='{{ ansible_default_ipv4.address }}'
export MANAGER_DB_PORT='5432'
export DB_BACKEND='postgresql'
export MANAGER_DB_HOST='localhost'
export MANAGER_DB_NAME='{{ uyuni_db_name }}'
export MANAGER_DB_PROTOCOL='TCP'
export MANAGER_PASS='{{ uyuni_db_pass }}'
export MANAGER_PASS2='{{ uyuni_db_pass }}'
export MANAGER_USER='{{ uyuni_db_user }}'
export LOCAL_DB='1'
export CERT_CITY='{{ uyuni_cert_city }}'
export CERT_COUNTRY='{{ uyuni_cert_country }}'
export CERT_EMAIL='{{ uyuni_cert_mail }}'
export CERT_O='{{ uyuni_cert_o }}'
export CERT_OU='{{ uyuni_cert_ou }}'
export CERT_PASS='{{ uyuni_cert_pass }}'
export CERT_PASS2='{{ uyuni_cert_pass }}'
export CERT_STATE='{{ uyuni_cert_state }}'
