---
namespace: {{ collection_namespace }}
name: {{ collection_name }}
version: {{ collection_version }}
readme: README.md
authors:
- Will Tome (@wtome)
description: Ansible Collection for Red Hat insights
repository: {{ collection_repo }}
build_ignore:
- galaxy.yml.j2
- release.yml
- .gitignore
- changelogs/.plugin-cache.yaml
- tests/output
license:
- Apache-2.0
