---

- name: create composite content view {{ composite_content_view.name }}
  redhat.satellite.content_view:{% raw %}
    username: "{{ satellite_admin_username }}"
    password: "{{ satellite_admin_password }}"
    validate_certs: false
    server_url: "{{ satellite_server_url }}"
    organization: "{{ satellite_organization }}"
{% endraw %}
    name: {{ composite_content_view.name }}
    composite: true
    components:
{% for component_content_view in composite_content_view.component_content_views %}
      - content_view: {{ component_content_view.name }}
{% if component_content_view.content_view_version is defined %}
        content_view_version: {{ component_content_view.content_view_version }}
{% else %}
        latest: true
{% endif %}
{% endfor %}
  delegate_to: localhost
  register: publish_content_view

- name: include tasks to publish new version of {{ composite_content_view.name }}
  include_tasks: "{{ role_path }}/tasks/publish-content-view.yml"
  vars:
    content_view: {{ composite_content_view.name }}
  when:
    - publish_content_view is defined
    - publish_content_view.changed
